@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --baseclr: #222327;
  --acntclr: #646771;
  --highclr: #393831;
  --exthighclr: #A7A491;
  --keyclr: #29fd53;
}

body {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    background: var(--baseclr);
    flex-direction: column;
    align-items: center;
}
/*Navbar*/
header {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.navigation {
    gap: 2.5rem;
    position: relative;
    width: 800px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.navigation ul {
    gap: 2.5rem;
    display: flex;
    width: 600px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--baseclr);
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--baseclr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid var(--baseclr);
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--baseclr);
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--baseclr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1.55));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 3.15));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 4.7));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 6.28));
}
/*navbar ends*/
.buttons {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.button {
  display: block;
  border-radius: 16px;
  width: 4rem;
}
.button:hover {
  animation: shaking 0.5s infinite;
}
@keyframes shaking {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(-4deg);}
  50% {transform: rotate(0deg);}
  70% {transform: rotate(4deg);}
  100% {transform: rotate(0deg);}
}
main {  
  gap: 10rem;
  width: 80%;
  display: flex;
  margin: auto;
  color: white;
  flex-direction: column;
}
.main-items {
  height: 12rem;
  width: 45%;
  padding: 1rem;
  border-radius: 16px;
  /* margin: 1rem; */
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
  box-shadow: 11px 9px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--exthighclr);
  align-items: center;
  color: var(--baseclr);
  justify-content: space-between;
}
.main-items:hover{
  transform: scale(0.9);
  
}
.card-content {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.main-items>p{
  width: calc( 45% - 1rem);
}
.main-container {
  padding-bottom: 2rem;
  border-radius: 16px;
  border: 2px solid var(--keyclr);
  animation: pulsate 1.5s infinite alternate;  
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #1fda44,
            0 0 0.8rem #05f936,
            0 0 2.8rem #40f764,
            inset 0 0 1.3rem #29fd53; 
}
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #29fd53,
    0 0 82px #29fd53,
    0 0 92px #29fd53,
    0 0 102px #29fd53,
    0 0 151px #29fd53;
}
h1 {
  font-family: "Sacramento", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 6.2rem;
  animation: pulsate 1.5s infinite alternate;  
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #29fd53,
            0 0 0.8rem #29fd53,
            0 0 2.8rem #29fd53,
            inset 0 0 1.3rem #29fd53;
}
@keyframes pulsate {
    
  100% {

      box-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px var(--keyclr),
      0 0 80px var(--keyclr),
      0 0 90px var(--keyclr),
      0 0 100px var(--keyclr),
      0 0 150px var(--keyclr)
  
  }
  
  0% {

    box-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px var(--keyclr),
    0 0 45px var(--keyclr),
    0 0 55px var(--keyclr),
    0 0 70px var(--keyclr),
    0 0 80px var(--keyclr),

}
}

.image {
  width: 31%;
}
.long {/*
  max-height: 7rem;
  width: 41%;*/
}
.card-container {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-container{
  color: var(--keyclr);
}
.logo{
  width: 10%;
}
.cart-container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.alert{
  background-color: var(--keyclr);
}
.about{
  padding: 1rem;
}
@media (max-width: 380px){
  .navigation {
    /* gap: 0.5rem; */
    position: relative;
    width: 84%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
  .navigation ul {
    gap: 0;
    display: flex;
    width: 54%;
}
}
@media (max-width: 800px) {
  .navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
    color: var(--baseclr);
}
  p{
    font-size: large;
  }
  .navigation {
    gap: 2.5rem;
    position: relative;
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
.indicator {
  display: none;
}
.text{
  display: none;
}
.small-device{
  display: block;
}
.navigation ul li a .text {
  position: absolute;
  color: var(--baseclr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;  
  opacity: 0;
  
}
.navigation ul li.active a .icon {
  transform: none;
}
.navigation ul {
   gap: 0.5rem;
  display: flex;
  width: 100%;  
}
.image-content{
  display: none;
}
.main-items {
  height: 12rem;
  width: 81%;
  padding: 1rem;
  border-radius: 16px;
  /* margin: 1rem; */
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
  /* box-shadow: 11px 9px 4px rgba(0, 0, 0, 0.1); */
  background-color: var(--exthighclr);
  align-items: center;
  color: var(--baseclr);
  justify-content: space-between;
}
}